/*My Styles*/
nav {
  width: 100%;
  background-color: #666;
  padding: 10px 0;
}
nav a {
  margin: 10px;
  text-decoration: none;
  color: #5df;
}
nav a:hover {
  color: hotpink;
}
.footer {
  background-color: #666;
  color: #5df;
  position: absolute;
  bottom:0;
  width: 100%;
  min-height: 20px;
}
.footer-text {
  font-size: 12px;
}
.content {
  padding: 20px 0;

}
.btn {
  color: #FFF;
  background-color: #44F;
  border-radius: 5px;
  border: none;
  padding: 5px 10px;
  margin-top: 10px;

}
.btn:hover{
  background-color: #99f;
}
.error {
  background-color: pink;
  color: red;
  border: 1px solid red;
  border-radius: 5px;
  padding: 10px 10px;
  width: 75%;
}
.no-flash {
  visibility: hidden;
  padding: 10px 10px;
  width: 75%;
}

/*Default styles*/
.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
